<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title or "Shiro的小屋" }}</title>
    <link rel="stylesheet" href="{{ '/assets/blog.css' | url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=DotGothic16&family=Jacquard+12&family=Jersey+15&family=Knewave&family=Lobster&family=Press+Start+2P&family=Rock+Salt&family=Special+Elite&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">

      <main>
        {{ content | safe }}
      </main>

      <footer>
        <p>hmm...
        </p>
      </footer>
    </div>
  </body>
</html>