<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title or "Shiro的小屋" }}</title>
    <link rel="stylesheet" href="{{ '/assets/guestbook.css' | url }}">

  </head>

  <body>
    {{ content | safe }}
  </body>