<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>{{ title or "VOIDHEAD" }}</title>
    <link rel="stylesheet" href="{{'/assets/style.css' | url }}">

  </head>
  <body>
  <header>
    <img src="{{'/assets/main/header.webp' | url }}" alt="Header Image" class="header-image"/>
    <a href="/guest" id="guest">Sign my Guestbook!</a>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <small>placeholder for counter?</small>
  </footer>
</div>
</body>

<script>
  document.querySelectorAll(".copy-btn").forEach(btn => {
    btn.addEventListener("click", () => {
      const pre = btn.nextElementSibling;
      const text = pre.innerText;

      navigator.clipboard.writeText(text).then(() => {
        btn.textContent = "Copied!";
        setTimeout(() => (btn.textContent = "Copy"), 1500);
      }).catch(() => {
        btn.textContent = "Failed";
      });
    });
  });
</script>

</html>