/* font control stuff */
@font-face {
    font-family: 'serio';
    src: url('../assets/fonts/SERIO.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.serio {
    font-family: 'serio', sans-serif;
}

/*font control end*/

/* media queries */
@media screen and (max-width: 768px) and (orientation:portrait) {
    body {
        overflow-x: hidden;
    }

    #mobile-togglebar {
        display: block !important;
        background: #e8ffb1;

        position: fixed;
        top: 0;
        left: 0;
        height: auto;
        width: 7em;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 0.5em 0;
        box-sizing: border-box;

        /* shape */
        border-radius: 0 30px 30px 0px;
    }





    #sidebar {
        display: none;

        position: fixed !important;
        top: 0;
        left: 0;
        width: 80vw;
        height: 90vh;
        background: #fff;
        padding: 1.5em;
        z-index: 998;


        max-width: 80vw;
    }

    #menu-toggle:checked~#sidebar {
        display: block;
    }



    #content {
        display: flex;
        padding: 0;
        margin: 0;


    }

    main {
        width: 100%;
        padding: 1em !important;
    }

    #blog-header,
    #post-list {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #rlog{
        flex-direction: column;
        gap:20px;
    }

    #dream {
        flex: 1;
        width: 100%;
    }

    #back-home {
        top: 0;
        right: -13% !important;

    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    margin: 0;

    font-family: Garamond, serif;
    font-size: 120%;

    overflow-x: hidden;
}

.wrapper {
    margin: 0;
}

#content {
    display: flex;
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
    margin: 2em auto;
    gap: 0.5em;

}

#mobile-togglebar {
    display: none;
}

#sidebar {
    flex: 1;
    background-color: #e8ffb1;
    border: 1px solid #dcdcdc;
    float: left;
    height: fit-content;
    flex-shrink: 0;

    border-top: #e1e100 2px solid;
    border-bottom: #08aa98 2px solid;


    position: sticky;
    top: 0;
    align-self: flex-start;
    padding: 1.2em;
    max-width: 320px;
    min-width: 300px;
}



.block-line>span {
    display: inline-block;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    text-shadow: #A3A3A3 1px 1px 0px;
    margin-bottom: 0;
    margin-top: 0;
}
h3{
    text-align: center;
    font-size: 1.75em;;
}


a {
    text-decoration: none;
}

#avatar #tail {
    max-width: 320px;
    height: auto;
    margin-bottom: 0;
}

#avatar img {
    width: 100%;
    height: auto;
}

.tags ul li {
    display: inline-block;
    padding: 4px 10px;
}

.tags a {
    width: fit-content;
    display: inline-block;
    text-decoration: none;
}
.tags ul li:hover{
    color: #ff90a4;
    transform: translateY(-2px);
    transition: all 0.2s ease;
}

.links a {
    display: block;
    margin-bottom: 0.5em;
    text-decoration: underline;
    
}
.links a:hover {
    
    color: #44ffde;
    transform: translateY(-2px);
}

#blog-header p {
    padding-top: 0;
}

.links {
    max-width: 960px;
    text-align: center;
}

.links ul, .tags ul{
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 0;
    min-width: 0;
}

#blog-header {
    flex: 1;
    background-image: url('../assets/blog/demin-alt.jpg');
    padding: 2em;
    margin: 0.5em;
    width: 90%;
}
#blog-header p{
    background-color:#467ee7;
    color:#e1e100;
    width:fit-content;
}
#blog-header a{
    background-color:#ffbac7;
}

#post-list {
    flex: 2;
    background-image: url('../assets/blog/blue-demin.jpg');
    padding: 2em;
    margin: 0.5em;
    width: 90%;
}

.post {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
    /* list dot removal*/
    list-style-type: none;
    /*readmore*/
    position: relative; padding-bottom: 50px;
}

.post-title {
    font-size: 2em;
    font-weight: 600;
    color: #337788;
    text-decoration: none;
    border-bottom: 1px dashed #aacccc;
    transition: all 0.2s ease;
}

.post-title:hover {
    color: #ffaa99;
    border-bottom-color: #ffddcc;
}


ul {
    list-style-type: none;
}

#readmore {
    position: absolute; right: 0px; bottom: 0px;
    max-width: 150px;
}

#readmore img{
    width:100%;
}

#readmore:hover {

    transform: translateY(-5px);
    transition: all 0.3s ease;
}



#back-home {
    position: fixed;

    top: 0;
    left: 6em;

}

#back-home img {
    transform: scale(0.6);
}

#back-home:hover img{
    transform: scale(0.6) rotate(10deg);
}

/* md */
#excerpt {
    line-height: 1;
    max-width:70%;
}
#excerpt h1, #excerpt h2, #excerpt h3{
    font-size:1em;
    font-weight: bold;
    text-align: left;
}
#excerpt img {
    max-width: 120%;
    height: auto;
    border-radius: 8px; 
    margin: 10px 0;
    display: block;
}
#excerpt pre {
    background-color: #5475b3;
    font-family: "Courier New", monospace;
    color: #ffff66;
    overflow-x: auto;    
    max-width: 100%;  
    border-radius: 4px;
    box-sizing: border-box;
}
#excerpt code{
    background-color: #5475b3;    
    color: #ffff66;
    font-family: inherit;
    border-radius: 4px;
}
#excerpt ul,
#excerpt ol {
  padding-left: 1.5em;
  margin: 1em 0;
}

#excerpt ul {
    list-style: none;
}

#excerpt li {
  margin-bottom: 0.5em;
  position: relative;
  
}

#excerpt ul li::before {
  content: "➤";
  color: #0068ff;
  position: absolute;
  left: -1.5em;
}