*{
    margin: 0;
    padding:0;
}
html{
    display: flex;
    justify-content: center;
}
main{
    max-width: 950px;
    min-width: 900px;
    min-height: 100vh;
    position:relative;
}
main::before{
    content: "";
    position: absolute;
    top:0;
    left: -70px;
    width:70px;
    height:100%;
    background-image: url('/assets/read/b6.png');
    background-repeat: repeat-y;
}
main::after{
    content: "";
    position: absolute;
    top:0;
    right: -70px;
    width:70px;
    height:100%;
    background-image: url('/assets/read/b7.png');
    background-repeat: repeat-y;
}

#header{
    background-image: url('/assets/read/header.jpg');
    
    display: flex;

    align-items: center;
    padding-left: 1em;
    min-height: 200px;
}
#content{
    
    padding: 1em;
}
#main-content{
    display: flex;
}
#content{
    flex:1;
}
aside{
    min-width: 220px;
    max-width: 250px;
}
