@font-face {
    font-family: 'antique';
    src: url('/assets/fonts/ANTIQUE-ITALIC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'newspaper';
    src: url('/assets/fonts/NEWSPAPER.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
*{
    margin:0;
    padding:0;
}

html{
    background-image: url('/assets/read/0388.gif');
    
}
body{
    color: #493D3A; 
    font-family: 'Times New Roman', serif;
}
#header{
    font-family: "antique", Georgia, serif;
    font-size: large;
    color: #927a77;
}
#header h1{
    font-size: 2.5em;
    font-weight: 200;
}

.bulletin{
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
}
#bulletin{
    width:fit-content;
    padding: 1em;
    background-image: url('/assets/read/SB016.jpg') ;
    mask-image: linear-gradient(to bottom, transparent, black 5%, black 87%, transparent),
              linear-gradient(to right, transparent, black 5%, black 90%, transparent);
  -webkit-mask-composite: destination-in;
}
#list-content td{
    padding-left: 1em;
    padding-right: 1em;
}
#now-reading,#to-read{
    font-family: "newspaper", Georgia, serif;
    font-size: 1.3em;
    font-weight: 100;

    color:#d79281;

    padding: 0.5em;
}
#to-read{
    color:#85bcb7;
}
#now-list li,#to-list li{
    display: flex;
    justify-content: center;
    
}

.devider{
    width: 100%;
    margin: 1em 0;
    filter: sepia(0.5) opacity(0.7);
}
 #post-list {
    list-style: none;
 }
.post {
    display: flex;
}

.cover{
    padding-top: 1.5em;
}
.cover img{
    max-width: 150px;
    height: auto;
}

.info {
    padding: 1em;
    padding-top: 0;
}
.title {
    margin-left: auto;
}
#title{
    font-size: 1.5em;
    font-weight: bold;
}

.post-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.tag-item{
    display: inline-block;
    padding: 2px 4px;
    color:#927a77;
    background-color: #d8fcf9;
    border-bottom:#d4c7c5 solid 1px;
    border-right: #d4c7c5 solid 1px;
    border-radius: 3px;
    cursor: pointer;
}
.tag-item:hover{

    background-color:#bdf0ff;
}

#back-top{
    position: fixed;
    bottom: 20px;
    right: 20px;

    cursor: pointer;

    z-index: 1000;

    font-family: 'newspaper', Georgia, serif;
    font-size: 1.5em;
    text-decoration: none;
    color:#493D3A;
}
#back-top:hover{
    color:#927a77;
}
#back-home{
    position: fixed;
    top: 20px;
    left: 20px;

    cursor: pointer;

    z-index: 1000;

    font-family: 'antique', Georgia, serif;
    font-size: 2em;
    text-decoration: none;
    color:#493D3A;
}
#back-home:hover{
    color:#927a77;
}
#back-top-mob{
    display: none;
}

@media screen and (max-width: 1154px) {
    .back-home{
        display: none;
    }

    #back-top{
        display: none;
    }
    
    #back-top-mob{
        display: block;
        position: fixed;
        bottom: 20px;
        left: 20px;

        font-family: 'newspaper', Georgia, serif;
        font-size: 1.5em;
        text-decoration: none;
        color:#493D3A;
    }
    #back-top-mob:hover{
        color:#927a77;
    }
    #pink{
        background-color: #b9f2ed;
    }
}