---
layout: read.njk
title: Log!
currentTab: logs
permalink: /hobby/
---
<div class="motto">
    <p id="motto">Il faut être absolument moderne. <br>One must be absolutely modern.</p>
</div>

<a id="top"></a>
<div class="bulletin">
    <div class="now-reading">
        <p id="now-reading">✦ Now </p>
        <ol id="now-list">
            <li>Splatoon Raiders 全難度</li>
            <li>罪與罰</li>
        </ol>
    </div>

    <div class="to-read">
        <p id="to-read">✦ To </p>
        <ol id="to-list">
            <li>小徑分岔的花園</li>
            <li>女生風格3</li>
        </ol>
    </div>
</div>

<img src="/assets/read/line23.gif" alt="Devider" class="devider" />

<ul id="post-list">
    {% for post in collections.log | reverse %}
        <li>
            <div class="post-log">
                
                <div class="cover">
                    {% if post.data.cover %}
                        <img src="{{ post.data.cover }}" alt="Cover for {{ post.data.title }}" class="post-cover" loading="lazy" />
                    {% else %}
                        <img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/fiona/myx/MYX-Docs-Icons-02.SX150.png" alt="No cover available" class="post-cover" loading="lazy" />
                    {% endif %}
                </div>

            <div class="info">
                <div class="title">
                <p id="title">{{ post.data.title }}</p>
                <!--
                <small>
                    {{ post.date | date("yyyy-MM-dd") }}
                </small>
                </div>
                -->
                <div class="author">
                    {% if post.data.author %}
                        <p id="author">By: {{ post.data.author }}</p>
                    {% endif %}

                <div class="tags">
                <p class="post-tags">
                Tags: &nbsp;
                        {% if post.data.tags %}
                        {% for tag in post.data.tags %}
                            {% if tag != "all" and tag != "log" %}
                                <!-- <a href="/tags/{{ tag }}/"> -->
                                <span class="tag-item">{{ tag }}</span>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <span class="no-tag">No tags</span>
                    {% endif %}
                </p>
                </div>

            <div class="content">
                <div id="content">{{ post.templateContent | safe }}
                </div>
            </div>
        </div>
            
        </li>
    {% endfor %}
</ul>

