---
pagination:
  data: collections.hobbyTagList
  size: 1
  alias: currentTag
  filter:
    - all
    - nav
    - post
    - posts
    - log
permalink: /hobby/tags/{{ currentTag | slugify }}/index.html
layout: read.njk
---
<div class="motto">
    <p id="motto">Il faut être absolument moderne. <br>One must be absolutely modern.</p>
</div>

<img src="/assets/read/line23.gif" alt="Devider" class="devider" />

<h1>TAGS: <span class="highlight">#{{ currentTag }}</span></h1>

{% set tagPosts = collections[currentTag] %}
<ul id="post-list">
{% for post in tagPosts %}
    {% if "hobby/logs/" in post.inputPath %}
        <li>
            <div class="post-log">
            <div class="cover">
                    {% if post.data.cover %}
                        <img src="{{ post.data.cover }}" alt="Cover for {{ post.data.title }}" class="post-cover" loading="lazy" />
                    {% else %}
                        <img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/fiona/myx/MYX-Docs-Icons-02.SX150.png" alt="No cover available" class="post-cover" loading="lazy" />
                    {% endif %}
                </div>

            <div class="info">
                <div class="title">
                <p id="title">{{ post.data.title }}</p>
                </div>

            <div class="author">
                {% if post.data.author %}
                    <p id="author">By: {{ post.data.author }}</p>
                {% endif %}
            </div>
            <div class="tags">
                <p class="post-tags">
                Tags: &nbsp;
                        {% if post.data.tags %}
                        {% for tag in post.data.tags %}
                            {% if tag != "all" and tag != "log" %}
                                <!-- <a href="/tags/{{ tag }}/"> -->
                                <span class="tag-item">{{ tag }}</span>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <span class="no-tag">No tags</span>
                    {% endif %}
                </p>
            </div>

            <div class="content">
                <div id="content">{{ post.templateContent | safe }}
                </div>
            </div>
            </div>
        </li>
    {% endif %}
{% else %}
    <p>这个标签下暂时还没有日志哦~(＞人＜;)</p>
{% endfor %}
</ul>