---
layout: read.njk
title: Reading Log
---
<div class="totop-trigger">
  <!-- 按钮放在容器内部 -->
  <a href="#" class="totop-btn">↑</a>
</div>

<a id="top"></a>
<div class="bulletin">
    <table id="bulletin" border="0" cellpadding="0" cellspacing="0">
<tr><td>
+</td>
<td style="background-image : url('/assets/read/up.gif');background-position:50% 50%;background-repeat: repeat-x;"></td>
<td>+</td>
</tr><tr id="list-content">
<td style="background-image : url('/assets/read/left.gif');background-position:50% 50%;background-repeat: repeat-y;"></td>
<td>
    <div class="now-reading">
        <p id="now-reading">✦ Now Reading...</p>
        <ol id="now-list">
            <li>sample1</li>
            <li>sample2</li>
        </ol>
    </div>

    <div class="to-read">
        <p id="to-read">✦ To read...</p>
        <ol id="to-list">
            <li>sample1aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
            <li>sample2</li>
            <li>sample3</li>
            <li>sample3</li>
        </ol>
    </div>
</td>
<td style="background-image : url('/assets/read/left.gif');background-position:50% 50%;background-repeat: repeat-y;"></td></tr>
<tr><td>
+</td>
<td style="background-image : url('/assets/read/up.gif');background-position:50% 50%;background-repeat: repeat-x;"></td><td>
<img src="/assets/read/nezumi2.gif"></td>
</tr></table>
    
</div>

<img src="/assets/read/line23.gif" alt="Devider" class="devider" />

<ul id="post-list">
    {% for post in collections.log | reverse %}
        <li>
            <div class="post">
                
                <div class="cover">
                    {% if post.data.cover %}
                        <img src="{{ post.data.cover }}" alt="Cover for {{ post.data.title }}" class="post-cover" loading="lazy" />
                    {% else %}
                        <img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/fiona/myx/MYX-Docs-Icons-02.SX150.png" alt="No cover available" class="post-cover" loading="lazy" />
                    {% endif %}
                </div>

            <div class="info">
                <div class="title">
                <p id="title">{{ post.data.title }}</p>
                <!--
                <small>
                    {{ post.date | date("yyyy-MM-dd") }}
                </small>
                </div>
                -->
                <div class="author">
                    {% if post.data.author %}
                        <p id="author">By: {{ post.data.author }}</p>
                    {% endif %}

                <div class="tags">
                <p class="post-tags">
                Tags: &nbsp;
                        {% if post.data.tags %}
                        {% for tag in post.data.tags %}
                            {% if tag != "all" and tag != "log" %}
                                <!-- <a href="/tags/{{ tag }}/"> -->
                                <span class="tag-item">{{ tag }}</span>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <span class="no-tag">No tags</span>
                    {% endif %}
                </p>
                </div>

            <div class="content">
                <div id="content">{{ post.templateContent | safe }}
                </div>
            </div>
        </div>
            
        </li>
    {% endfor %}
</ul>

<div class="back-top">
    <a id="back-top" href="#top">
        <img src="/assets/read/chair.png" alt="Back to Top" class="back-to-top" />
        <p>▲ Top</p>
    </a>
</div>

<div class="back-home">
    <a id="back-home" href="/">
        <img src="/assets/read/phone.png" alt="Back to home" class="back-to-home" />
        <p>Back Home..</p>
    </a>
</div>

<div class="back-top-mob">
    <a id="back-top-mob" href="#top">
        <p>  &nbsp;▲ </p>
        <p id="pink">Top</p>
    </a>
</div>