---
layout: guestbook.njk
title: Guestbook
---

<section class="guestbook-page">
  <h1>📜 Guestbook</h1>
  <p>Leave a note, say hello, or tell me a dream you had.</p>

<script src="https://giscus.app/client.js"
  data-repo="furuhata123/guestbook"
  data-repo-id="R_kgDORLKDYA"
  data-category="General"
  data-category-id="DIC_kwDORLKDYM4C2B -v"
  data-mapping="specific"
  data-term="guestbook"
  data-strict="1"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="en"
  crossorigin="anonymous"
  async>
</script>
</section>